<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Bolt.Cache.Settings" type="Bolt.Cache.Configs.CacheSettingsSection,Bolt.Cache"/>
    <section name="Bolt.Cache.Redis.Settings" type="Bolt.Cache.Redis.Configs.ConnectionSettingsSection,Bolt.Cache.Redis"/>
  </configSections>
  <connectionStrings>
    <add name="Redis" connectionString="localhost"/>
  </connectionStrings>
  <Bolt.Cache.Redis.Settings ConnectionStringOrName="Redis" Database="0"/>
  <Bolt.Cache.Settings>
    <Profiles>
      <Profile Name="InMemory.Short" DurationInSeconds="5" Disabled="False"/>
      <Profile Name="Redis.Short" DurationInSeconds="3600" Disabled="False"/>
    </Profiles>
  </Bolt.Cache.Settings>
</configuration>