<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Bolt.Cache.Redis.Settings" type="Bolt.Cache.Redis.Configs.ConnectionSettingsSection,Bolt.Cache.Redis"/>
  </configSections>
  <connectionStrings>
    <add name="Redis" connectionString="localhost"/>
  </connectionStrings>
  <Bolt.Cache.Redis.Settings ConnectionStringOrName="Redis" Database="0"/>
</configuration>